@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: steelblue;
    color: white;
    font-family: 'Muli', sans-serif;
    /* height: 100vh; */
    /* overflow: hidden; */
    margin: 0;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.75rem;
    /* text-align: center; */
    margin-bottom: 30px;
}

img {
    border-radius: 50%;
}

figure {
    margin: 0;
}

header .content-wrapper,
main .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/************** Form styles **************/
.form-container {
    background-color: rgba(17, 40, 104, 0.486);
    padding: 20px 40px;
    border-radius: 5px;
    margin-bottom: 25px;
}

.form-container a {
    text-decoration: none;
    color: lightblue;
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: lightblue;
    padding: 15px;
    font-family: inherit;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.btn:focus {
    outline: 0;
}

.btn:active {
    transform: scale(0.98);
}

.text {
    margin-top: 30px;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    /* width: 300px; */
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px white solid;
    color: white;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 1.125rem;
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: lightblue;
}

.form-control label {
    position: absolute;
    font-size: 1.125rem;
    top: 15px;
    left: 0;
}

.form-control label span {
    display: inline-block;
    /* font-size: 1.125rem; */
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
    color: lightblue;
    transform: translateY(-30px);
}

/*********** Footer styles **************/
footer {
    border-top: 2px solid rgb(201, 196, 196);
    border-width: 100%;
}

footer .content-wrapper {
    margin: 0 auto;
    width: 90%;
}

.footer-top {
    margin: 30px 0;
}

.footer-links {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}

.link-item {
    font-size: 0.75rem;
    flex-basis: 50%;
    margin-bottom: 16px;
}

.link-item a {
    text-decoration: none;
    color: rgb(201, 196, 196);
}

.dropbtn {
    background-color: steelblue;
    color: rgb(201, 196, 196);
    padding: 12px 0;
    font-size: 0.75rem;
    border-color: rgb(201, 196, 196);
    border: 0.5px solid;
    cursor: pointer;
}

.dropbtn-icon {
    padding: 0 15px;
}

.language-selector {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: steelblue;
    min-width: 150px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(201, 196, 196);
    padding: 5px 20px 5px 40px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(29, 58, 221);
    font-weight: bold;
}

.show {
    display: block;
}